.rainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.backRow {
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
  --drop-color: rgba(174, 194, 224, 0.6);
}

.night .drop {
  opacity: 0.9;
}

.heavy .drop {
  height: 140px;
}

.light .drop {
  height: 100px;
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: var(--drop-color);
  animation: stem 0.5s linear infinite;
}

.night .stem {
  background: var(--drop-color);
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted var(--drop-color);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
}

.night .splat {
  border-top: 2px dotted var(--drop-color);
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
